{% extends "base.html" %}

{% block title %}Vagas para Trabalho Remoto | Freelancer e Empregos{% endblock %}
{% block keywords %}
    <meta name="keywords" content="remoto, clt,freelancer, trabalho remoto, remoto,home office, vagas " />
{% endblock %}
{% block content %}
<div class='container'>
    <div class="bordertopbottom relative z20">
        <div class="container ptb40 cdark">
            <h1 class="text-center titlefont size30 c999">Últimas Vagas</h1>

            <!-- <div class="toparrow"></div> -->
        </div>
    </div>
</div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped">
                            <tbody>

{% for job in jobs %}

                                <tr>
                                    <td>
                                        <i class="-alt fa fa-2x fa-user fa-fw"></i>
                                    </td>
                                    <td>
                                        <h4>
                                            <a href='{{ job.get_absolute_url }}'><b>{{ job.title }}</b></a>
                                        </h4>
                                        <p>{{ job.publish |date:"d/m/Y"  }}</p>
                                    </td>
                                    <td>
                                        <p>{{ job.description|truncatewords_html:18 }}</p>
                                    </td>
                                    
                                    <td><div class="btn-group">
                                        {% for tag in job.tags.all %}
                                        
                                            <button class="btn btn-default" value="left" type="button">
                                                {{tag}}</button>
                                        
                                        
                                        {% endfor %}
                                        </div>
                                        
                                    </td>
                                </tr>
{% endfor %}                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
    




</div>

{% include "pagination.html" with page=jobs %}

{% endblock %}