{% extends "base.html" %}
{% load staticfiles %}

{% block description %}Oferecemos vagas de trabalho remoto para desenvolvedores e programadores. Confira as últimas vagas para homeoffice ou trabalhos freelance.{% endblock description %}
  

{% block title %}Vagas Abertas{% endblock title %}
  


{% block keywords %}vagas, trabalho remoto, freelancer, homeoffice{% endblock %}


{% block header %}
<header class="page-header bg-img" style="background-image: url({% static 'img/bg-banner1.jpg' %});">
    <div class="container page-name">
      <h1 class="text-center">Vagas Remotas Abertas</h1>
      <p class="lead text-center">Veja nossas últimas vagas abertas</p>
    </div>

    <div class="container">
      <form id="searchForm" action="" method="get">

        <div class="row">
          <div class="form-group col-xs-12 col-sm-12">
            <input type="text" name="s" class="form-control" placeholder="Buscar por tecnologia ou atividade">
          </div>

        </div>

        <div class="button-group">
          <div class="action-buttons">
            <button class="btn btn-primary">Buscar</button>
          </div>
        </div>

      </form>

    </div>

  </header>

{% endblock %}

{% block content %}




  
<main>
        <section class="no-padding-top bg-alt">
	<div class="container">
	<div class="row">

            {% for job in jobs %}
			<div class="col-xs-12">
              <a class="item-block" href="{{ job.get_absolute_url }}">
                <header>
                  <img src="{{ job.image }}" alt="">
                  <div class="hgroup">
                    <h4>{{ job.title }}</h4>
                    <h5>{{ job.description|truncatewords_html:18 }}</h5>
                  </div>
                  <div class="header-meta">
				  {% for tag in job.tags.all %}
				  <span class="label label-primary">{{tag}}</span>
				  {% endfor %}
                    
                    
					
                  </div>
                </header>
              </a>
            </div>
			{% endfor %}
            

          </div></div>

</section>
</main>




        
{% include "pagination.html" with page=jobs %}

{% endblock %}